body {
  display: block;
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 2.5em;
  display: inline-block;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  letter-spacing: -1px;

}

h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}

h3 {
font-size: .9.3em;
color: grey;
margin: 10px 0;
}

h4 {
  font-size: .73em;
  letter-spacing: .7px;
  margin-left: 7px;
}

#delicious {
  height: 45px;
}

#logo {
  width: 42px;
  height: 45px;
}

header {
  width: 901px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 110px;
  justify-content: space-between;
}

header section {
width: 901px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

}

header #link {
  display: flex;
  justify-content: flex-end;
  
}

header #link img {
  width: 25px;
  height: 25px;;
}

main {
  width: 901px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main section {
  justify-content: space-between;
}

main section div {
  display: block;
  flex-wrap: wrap;
 }